/* src/pages/PersonalPage.css */
.personal-page {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.file-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    text-align: center;
    color: #333;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-card strong {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.file-card p {
    font-size: 0.9em;
    color: #555;
}
